<div class="flex items-center justify-center min-h-screen px-4 py-12 bg-gray-50 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">Agregue un usuario</h2>
    </div>
    <form class="mt-8 space-y-6" (ngSubmit)="addUser()" method="POST" [formGroup]="form">
      <input type="hidden" name="remember" value="true">
      <div class="-space-y-px rounded-md shadow-sm">
        <div>
          <label for="name" class="sr-only">Nombre</label>
          <input id="name" formControlName="name" type="text" autocomplete="name" required class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" placeholder="Nombre">
        </div>
        <div>
          <label for="lastName" class="sr-only">Apellido</label>
          <input id="lastName" formControlName="lastName" type="text" autocomplete="lastName" required class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" placeholder="Apellido">
        </div>
        <div>
          <label for="email" class="sr-only">Correo electrónico</label>
          <input id="email" formControlName="email" type="email" autocomplete="email" required class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-b-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" placeholder="Correo electrónico">
        </div>
        <div>
          <label for="password" class="sr-only">Contraseña</label>
          <input id="password" formControlName="password" type="password" autocomplete="current-password" required class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-b-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" placeholder="Contraseña">
        </div>
        <hr>
        <div class="mt-4">
          <label for="rol" class="block text-sm font-medium text-gray-500">Rol</label>
          <select id="rol" formControlName="rol" class="block w-full py-2 pl-3 pr-10 mt-1 text-base border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option value="" disabled selected>Selecciona un rol</option>
            <option value="Client">Cliente</option>
            <option value="admin">Admin</option>
          </select>
        </div>

      </div>

      <div>
        <button type="submit" class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-md group hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="w-5 h-5 text-blue-500 group-hover:text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M0 10a10 10 0 1120 0 10 10 0 01-20 0zm10-9a9 9 0 00-5 16.117V17a1 1 0 001.447.895l3.002-1.5a1 1 0 01.946 0l3.002 1.5A1 1 0 0015 17v.117A9 9 0 0010 1z" clip-rule="evenodd" />
            </svg>
          </span>
          Registrarse
        </button>
      </div>
    </form>
  </div>
</div>
