<div class="flex items-center justify-center min-h-screen px-4 py-12 bg-gray-50 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">Realice un deposito</h2>
    </div>
    <form [formGroup]="form" class="mt-8 space-y-6" (ngSubmit)="makeTransaction()" method="POST" >
      <input type="hidden" name="remember" value="true">
      <div class="-space-y-px rounded-md shadow-sm">
        <div>
          <label for="user_id" class="sr-only">Usuario</label>
          <input id="user_id" formControlName="user_id" type="text" autocomplete="name" required class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" placeholder="Usuario">
        </div>
        <div>
          <label for="amount" class="sr-only">Cantidad</label>
          <input id="amount" formControlName="amount" type="number" autocomplete="amount" required class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" placeholder="cantidad">

        </div>

     </div>

      <div>
        <button type="submit" class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-md group hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="w-5 h-5 text-blue-500 group-hover:text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M0 10a10 10 0 1120 0 10 10 0 01-20 0zm10-9a9 9 0 00-5 16.117V17a1 1 0 001.447.895l3.002-1.5a1 1 0 01.946 0l3.002 1.5A1 1 0 0015 17v.117A9 9 0 0010 1z" clip-rule="evenodd" />
            </svg>
          </span>
          Depositar
        </button>

      </div>
    </form>
  </div>
</div>
